@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --legible-font: 'Gotham,Sofia,filson-pro,Courier,Helvetica Neue, Helvetica, Arial,Geneva,sans-serif';

  /* green */
  --honeydew: rgb(240, 255, 240);
  --granny-smith-apple: #9de093;
  --asparagus: #7ba05b;
  --avocado: rgb(110, 112, 66);

  /* orange */
  --apricot: #fdd5b1;
  --apricot-peel: #ffb16d;
  --butterscotch: #fdb147;
  --orange: rgb(255, 165, 0);
  --mango: #ffa62b;
  --tangerine: #f28500;
  --carrot: #f36f09;
  --smashed-pumpkin: #ff6d3a;
  --tomato-sauce: rgb(255, 99, 71);
  --bloodorange: #fe4b03;

  /* yellow */
  --lemon-chiffon: rgb(255, 250, 205);
  --banana-mania: #fbe7b2;
  --butter: #ffff81;
  --banana: #ffff7e;
  --lemon: #ffff38;
  --maize: #f4d054;
  --mustard: #ceb301;
  --cheddar-cheese: rgb();

  /* white */
  --coconut: #fefefe;
  --mozarella: #faf6ed;
  --jasmine-rice: #f1eeec;
  --bit-of-sugar: rgb(244, 242, 236);
  --egg-white: rgb();
  --eggshell: rgb();
  --whipped-cream: rgb();
  --baby-artichoke: rgb(233, 227, 206);
  --oyster: rgb(187, 179, 178);

  /* purple */
  --aubergine: #3d0734;
  /* black */
  --stainless: #d4d4d8;
  --charcoal: #343837;
  --black-bean: #282222;
  --licorice: #1a1110;

  /* blue */
  --blueberry: #1f3050;

  /* pink */
  --peach-puff: rgb(255, 218, 185);
  --peach: #ffd0b9;
  --macaron: #d7a291;
  --dark-salmon: rgb(233, 150, 122);
  --peach-peel: #e1887c;
  --salmon: rgb(250, 128, 114);
  --persimmon: rgb(255, 89, 89);
  --grapefruit: #fd5956;
  --wild-watermelon: rgb(#fd5b78);

  /* brown */
  --almond: #eed9c4;
  --bisque: rgb(255, 228, 196);
  --blanched-almond: rgb(255, 235, 205);
  --button-mushroom: rgb();
  --wheat: rgb(245, 222, 179);
  --ground-ginger: rgb(217, 202, 159);
  --brown-sugar: #af6e4d;
  --caramel: #af6f09;
  --chanterelle: rgb();
  --cinnamon: #ac4f06;
  --cocoa: rgb(86, 36, 36);
  --coffee-grounds: rgb();
  --chocolate: #3d1c02;
  --cranberry-sauce: rgb();
  --crimini-mushroom: rgb();
  --curry: rgb(215, 169, 75);
  --deep-lavender: #8d5eb7;
  --dijon-mustard: rgb();
  --eggplant: #614051;
  --egg-yolk: rgb();
  --fennel: rgb();
  --jalapeno: rgb();
  --kale: rgb();
  --kiwi: #9cef43;
  --lime-juice: rgb();
  --maraschino-cherry: rgb();
  --merlot: rgb();
  --morel: rgb();
  --nopal: rgb();
  --olive: #6e750e;
  --extra-virgin-olive-oil: rgb();
  --parsley: rgb(44, 101, 29);
  --poblano-pepper: rgb();
  --sage: rgb(185, 196, 177);
  --darksage: #598556;
  --spearmint: rgb();
  --strawberry: rgb();
  --sugar-beet: rgb(131, 66, 83);
  --sugar-plum: #914e75;
  --tomato: #e62200;
  --vanilla-bean: rgb();
  --logo-font: 'Horta';
  --party-font: 'hortaregular', 'Surveyor', 'Bodoni', 'abril-display';
  --dinner-party-font: 'Circular,Gotham,Ogonek-Light,Georgia,Times,serif';
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--jasmine-rice);
  border-color: var(--black-bean);
  color: var(--black-bean);
  font-family: var(--legible-font);
  font-size: 16px;
  height: 100%;
}

body {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.6rem;
  letter-spacing: 1rem;
  margin-left: 1rem;
}

h2 {
  font-family: var(--dinner-party-font);
}

h3 {
  color: var(--black-bean);
  font-family: var(--dinner-party-font);
  font-size: 1rem;
}

nav {
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'hortaregular';
  src:
    url('fonts/horta_demo.woff2') format('woff2'),
    url('fonts/horta_demo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a:hover {
  color: var(--tomato);
}

button {
  background-color: var(--jasmine-rice);
  border-radius: 0;
  color: var(--tomato);
}
